<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Student Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
  </head>
  <body>
    <h1>Student Information</h1>
    <table>
      <tr>
        <td>Name:</td>
        <td th:text="${student.firstName}"/>
      </tr>
      <tr>
        <td>Surname:   </td>
        <td th:text="${student.lastName}" />
      </tr>
      <tr>
        <td>Birth date:   </td>
        <td th:text="${student.birthDate}" />
      </tr>
      <tr>
        <td>Email:   </td>
        <td th:text="${student.ContactDetails.email}" />
      </tr>
      <tr>
        <td>Phone:   </td>
        <td th:text="${student.ContactDetails.phoneNumber}" />
      </tr>
      <tr>
        <td>Street/number:   </td>
        <td th:text="${student.ContactDetails.street}" />
      </tr>
      <tr>
        <td>City:   </td>
        <td th:text="${student.ContactDetails.city}" />
      </tr>
      <tr>
        <td>Zip code:   </td>
        <td th:text="${student.ContactDetails.zipCode}" />
      </tr>
      <tr>
        <td>Country:   </td>
        <td th:text="${student.ContactDetails.country}" />
      </tr>
    </table>
    <br />
    <br />
    <br />
    <table>
      <tr>
        <td>
          <h2>Lessons</h2>
        </td>
        <td>
          <a href="createOrUpdateLessonForm.html" th:href="@{'/students/' + ${student.id} + '/lessons/new'}">
            <button class="button">ADD NEW LESSON</button>
          </a>
        </td>
      </tr>
    </table>
    <table border="1">
      <tr>
        <th>Subject</th>
        <th>Date</th>
      </tr>
      <tr th:each="lesson : ${student.lessons}">
        <td th:text="${lesson?.subject}"/>
        <td th:text="${lesson?.date}"/>
      </tr>
    </table>
  </body>
</html>