<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Students</title>
</head>

<body>

<div>
  <h1 align="center">Welcome to students page</h1>
</div>

<div>
  <table align="center">
    <tr>
      <th>Name</th>
    </tr>
    <tr th:each="student : ${student}">
      <td>
        <a href="studentDetails.html" th:href="@{'/students/' + ${student.id}}">
          <div th:text="${student.name}"></div>
        </a>
      </td>
    </tr>
  </table>
</div>
<div>
  <h2 align="center"><a href="/students/new">Add new student</a></h2>
</div>

</body>
</html>